@model IEnumerable<AddressBookPro.Models.AddressBook>

@{
    ViewData["Title"] = "Index";
}

<div class="row text-center mt-5 mb-5">
    <div class="col">
        <h1>Dashboard</h1>
        <p><a class="btn btn-primary btn-md" asp-action="Create">Create New Address</a></p>
        <!-- Button trigger modal -->
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>*@
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FileName" class="control-label"></label>
                        <input asp-for="FileName" class="form-control" />
                        <span asp-validation-for="FileName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address1" class="control-label">Address 1</label>
                        <input asp-for="Address1" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address2" class="control-label">Address 2</label>
                        <input asp-for="Address2" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label">City</label>
                        <input asp-for="City" class="form-control" autocomplete="off" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label">State</label>
                        <input asp-for="State" class="form-control" autocomplete="off" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label">Zip Code</label>
                        <input asp-for="ZipCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label">Phone</label>
                        <input asp-for="Phone" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAdded" class="control-label">Date Added</label>
                        <input asp-for="DateAdded" class="form-control" />
                        <span asp-validation-for="DateAdded" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 text-center bg-info"><h6 class="m-0 font-weight-bold text-white">Address Book</h6></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Address1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ZipCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateAdded)
                            </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <!--<td>-->
                            @*@Html.DisplayFor(modelItem => item.Address1)*@
                            <!--</td>
                            <td>-->
                            @*@Html.DisplayFor(modelItem => item.Address2)*@
                            <!--</td>
                            <td>-->
                            @*@Html.DisplayFor(modelItem => item.City)*@
                            <!--</td>
                            <td>-->
                            @*@Html.DisplayFor(modelItem => item.State)*@
                            <!--</td>
                            <td>-->
                            @*@Html.DisplayFor(modelItem => item.ZipCode)*@
                            <!--</td>
                            <td>-->
                            @*@Html.DisplayFor(modelItem => item.DateAdded)*@
                            @*@item.DateAdded.ToString("MM/dd/yyyy hh:mm tt")*@
                            <!--</td>-->
                            <td class="center">
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
